.wrapper
  .shop__tittle
    創作和食 いづみ屋
  .shop__tel
    0798-34-6176
  .shop__image
    .shop__image__left
      -# = image_tag("eat2.jpg", class: "image")
    .shop__image__right
      -# = image_tag("eat.png", class: "image")
  %ul.shop__menutab
    %li.tab
      = link_to 'ご案内', "#"
    %li.tab
      = link_to 'ランチメニュー', "#"
    %li.tab
      = link_to '露月のおしながき', "#"
    %li.tab
      = link_to '地図', "#"
    %li.tab
      = link_to 'お知らせ', notices_path
  .shop__detail
    営業カレンダー
  .shop__detail
    店舗情報
  .shop__detail__box
    .detail__tittle
      住所
    .detail
      兵庫県西宮市津門川町9−6 1F
    .detail__tittle
      TEL
    .detail
      0798-34-6176
    .detail__tittle
      座席
    %ul.detail
      %li.detail__list
        1F : 10席(カウンター4席,テーブル)
      %li.detail__list
        2F : 4~12席(1組限定)<br> ※全席禁煙(外に灰皿あり)
  .shop__detail
    お知らせ
    .language__count
      - @notices.each do |notices|
        .language__detail__box
          = link_to (notice_path(notices.id)) do
            .language__detail__box__day
              = notices.tittle
              = notices.content
  .shop__detail
    採用情報