.notise
  - @notices.each do |notices|
    .notice__detail
      = link_to (notice_path(notices.id)) do
        .notice__text
          = notices.tittle
          = notices.content

  - @notice.each do |notice|
    .notice__detail
      = link_to (notice_path(notice.id)) do
        .notice__importants
          - if notice.important == true
            .notice__important
              重要なお知らせ
          - else
        .notice__text
          = notice.tittle
          = notice.content

= link_to 'お知らせ', new_notice_path
= link_to 'トップページ', root_path